<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.healthy.sport.dao.SportDayLogDao" >


    <sql id="sqlWhere">
        <if test="name != null and name.trim()!= ''">
            and a.`name` like '${name}%'
        </if>
        <if test="idSport != null ">
            and a.id_sport = #{idSport}
        </if>
        <if test="idUser != null ">
            and a.id_user = #{idUser}
        </if>
        <if test="idBody != null ">
            and a.id_body = #{idBody}
        </if>
        <if test="dateSport != null ">
            and a.date_sport = #{dateSport}
        </if>
    </sql>

    <select id="queryList" resultType="com.healthy.sport.entity.SportDayLogEntity" parameterType="java.util.Map">
        select
        *
        from sport_day_log a
        where 1=1
        <include refid="sqlWhere"></include>
        <choose>
            <when test="orderName != null and orderName.trim() != ''">
                order by ${orderName} ${order}
            </when>
            <otherwise>
                order by date_sport desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="queryTotal" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(id_sport)
        from sport_day_log a
        where 1=1
        <include refid="sqlWhere"></include>
    </select>


</mapper>