<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>xxx</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <script src="../../js/public-source.js"></script>
    <link rel="stylesheet" href="../../lib/zTree/css/metroStyle/metroStyle.css">
</head>
<body>
<link rel="stylesheet" href="../../css/font.css">
<link rel="stylesheet" href="../../lib/layui/css/layui.css">
<link rel="stylesheet" href="../../css/xadmin.css">
<link rel="stylesheet" href="../../lib/zTree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
<style>
    .x-body{
        height: 100%;
        width: 100%;
    }
    .x-body>div{
        height: 100%;
        width: 100%;
    }
    .table-box{
        min-width: 800px;
        height: 100%;
        overflow: hidden;
    }
    .tree-box,.handle-box{
        float: left;
        height: 100%;
        padding-bottom: 62px;
    }
    .tree-box{
        width: 25%;
        margin-right: 16px;
    }
    .panel{
        height: 100%;
        position: relative;
    }
    .panel-heading{
        position: relative;
        z-index: 2;
    }
    .panel-heading+ul,.panel-heading+div{
        position: absolute;
        top: 0;
        padding-top: 41px;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }
    .handle-box{
        width: 70%;
    }
    .form-confirm{
        text-align: right;
    }
    .form-confirm>button:first-of-type{
        margin-right: 16px;
    }
    .form-confirm>button:last-of-type{
        margin: 0;
    }
</style>
<div class="x-body" id="container" v-cloak>
    <div>
        <div class="table-box">
            <div class="layui-btn-group table-handle">
                <button class="layui-btn layui-btn-normal" @click="add" >
                    <i class="icon iconfont">&#xe616;</i>新增
                </button>
                <button class="layui-btn layui-btn-danger layui-btn-sm" @click="del" >
                    <i class="icon iconfont">&#xe625;</i>删除
                </button>
            </div>

            <div class="tree-box">
                <div class="panel panel-default">
                    <div class="panel-heading">菜单树</div>
                    <ul id="zTree" class="ztree"></ul>
                </div>
            </div>
            <div class="handle-box">
                <div class="panel panel-default">
                    <div class="panel-heading">{{title}}</div>
                    <div class="panel-body">
                        <div class="write-box">
                            <div>
                                <div>
                                    <div>菜单类型</div>
                                    <div>
                                        <input type="radio" class="new-radio" name="menuType" id="menuType2" :checked="sysMenu.level==1"><label for="menuType2">目录</label>
                                        <input type="radio" class="new-radio" name="menuType" id="menuType3" :checked="sysMenu.level==2"><label for="menuType3">菜单</label>
                                        <input type="radio" class="new-radio" name="menuType" id="menuType4" :checked="sysMenu.level==3"><label for="menuType4">按钮</label>
                                    </div>
                                </div>
                                <div>
                                    <div>父级名称</div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="父级名称" autocomplete="off"
                                               v-model="sysMenu.parentName" disabled>
                                    </div>
                                </div>
                                <div>
                                    <div>菜单名称</div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="菜单名称" autocomplete="off"
                                               v-model="sysMenu.name" id="nameInput">
                                    </div>
                                </div>
                                <div v-if="sysMenu.level==1 || sysMenu.level==2">
                                    <div>排序值</div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="排序值 数字类型" autocomplete="off"
                                               v-model="sysMenu.sort" id="sortInput">
                                    </div>
                                </div>
                                <div v-if="sysMenu.level==2">
                                    <div>链接地址</div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="链接地址" autocomplete="off"
                                               v-model="sysMenu.url" id="urlInput">
                                    </div>
                                </div>
                                <div v-if="sysMenu.level!=null&&sysMenu.level>1">
                                    <div>权限名称</div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="权限名称" autocomplete="off"
                                               v-model="sysMenu.permission" id="permissionInput">
                                    </div>
                                </div>
                                <div v-if="sysMenu.level!=0">
                                    <div>状态</div>
                                    <div>
                                        <select v-model="sysMenu.status"  class="form-control">
                                            <option value="1">启用</option>
                                            <option value="0">禁用</option>
                                        </select>
                                    </div>
                                </div>
                                <div v-if="sysMenu.level!=0">
                                    <div></div>
                                    <div>
                                        <button class="layui-btn layui-btn-normal" @click.prevent="saveOrUpdate"
                                                >保存
                                        </button>
                                        <button type="reset" class="layui-btn layui-btn-primary" @click="reload">刷新</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="../../lib/zTree/js/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../js/sys/sys_menu.js"></script>
</body>
</html>